body {
  background-color: #1E1E26;
  color: white;
  font-family: "Roboto",sans-serif;
}

#root {
  margin: auto;
  width: 400px;
}

li {
  width: 100%;
  padding: 15px;
  border: 1px solid lightgrey;
  background-color: #323642;
  list-style-type: none;
  cursor:pointer;
  box-shadow: inset 0 0 3px;
}

li:hover {
  background-color:#5A6074;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  color: lightgrey;
}
